.git
.gitignore
runtime/*
.config/
.phpunit.cache/
.pdepend/
.composer/
.bash_history
vendor/
postgres_data/
dragonfly_data/
!runtime/.gitkeep
docker-compose.yml
Dockerfile*
README.md
phpunit.xml.dist
phpstan.neon.dist