services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./:/app
    ports:
      - 9501:9501
    environment:
      - APP_ENV=dev
      - SCAN_CACHEABLE=false

  db:
    image: postgres:16-alpine
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: hyperf_db
      POSTGRES_USER: hyperf_user
      POSTGRES_PASSWORD: hyperf_password
    volumes:
      - postgres_data:/var/lib/postgresql/data
    
  redis:
    image: 'docker.dragonflydb.io/dragonflydb/dragonfly'
    ulimits:
      memlock: -1
    ports:
      - "6379:6379"
    volumes:
      - dragonfly_data:/data

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: hyperf_user
      RABBITMQ_DEFAULT_PASS: hyperf_password
    volumes:
      - rabbitmq-data:/var/lib/rabbitmq

  zipkin:
    image: openzipkin/zipkin:latest
    container_name: zipkin
    ports:
      - "9411:9411"

volumes:
  rabbitmq-data:
  dragonfly_data:
  postgres_data:
    driver: local
