services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./:/app
    ports:
      - 9501:9501
    environment:
      - APP_ENV=dev
      - SCAN_CACHEABLE=false

  db:
    image: postgres:16-alpine
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: hyperf_db
      POSTGRES_USER: hyperf_user
      POSTGRES_PASSWORD: hyperf_password
    volumes:
      - postgres_data:/var/lib/postgresql/data
    
  redis:
    image: 'docker.dragonflydb.io/dragonflydb/dragonfly'
    ulimits:
      memlock: -1
    ports:
      - "6379:6379"
    volumes:
      - dragonfly_data:/data

volumes:
  dragonfly_data:
  postgres_data:
    driver: local
