name: CI

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build Docker image
      uses: docker/build-push-action@v5
      with:
        context: .
        load: true
        tags: app-ci:latest
        cache-from: type=gha
        cache-to: type=gha,mode=max

    - name: Check PSR-12
      run: docker run --rm app-ci:latest make cs-check

    - name: Check Duplicated Code
      run: docker run --rm app-ci:latest make cpd-check

    - name: Check Mess Detector
      run: docker run --rm app-ci:latest make md-check

    # - name: Run Tests
    #   run: docker run --rm app-ci:latest make test
